{% extends 'base.html' %}

{% block content %}

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h1>OdenseFOTOGRAFEN</h1>
        <p>Fotografi til betalelige priser, på dinne premisser. </p>
        <ul class="actions">
            <li><a href="#galleries" class="button alt scrolly big">Continue</a></li>
        </ul>
    </div>
</section>

<!-- Gallery -->
<section id="galleries">

    <!-- Photo Galleries -->
    <div class="gallery">
        <header class="special">
            <h2>Mine Billeder</h2>
        </header>
        <div class="content">
            <div class="media">
                <a href="static/images/fulls/01.jpg"><img src="static/images/thumbs/01.jpg" alt=""
                                                   title="This right here is a caption."/></a>
            </div>
            <div class="media">
                <a href="static/images/fulls/05.jpg"><img src="static/images/thumbs/05.jpg" alt=""
                                                   title="This right here is a caption."/></a>
            </div>
            <div class="media">
                <a href="static/images/fulls/09.jpg"><img src="static/images/thumbs/09.jpg" alt=""
                                                   title="This right here is a caption."/></a>
            </div>
            <div class="media">
                <a href="static/images/fulls/02.jpg"><img src="static/images/thumbs/02.jpg" alt=""
                                                   title="This right here is a caption."/></a>
            </div>
            <div class="media">
                <a href="static/images/fulls/06.jpg"><img src="static/images/thumbs/06.jpg" alt=""
                                                   title="This right here is a caption."/></a>
            </div>
            <div class="media">
                <a href="static/images/fulls/10.jpg"><img src="static/images/thumbs/10.jpg" alt=""
                                                   title="This right here is a caption."/></a>
            </div>
            <div class="media">
                <a href="static/images/fulls/03.jpg"><img src="static/images/thumbs/03.jpg" alt=""
                                                   title="This right here is a caption."/></a>
            </div>
            <div class="media">
                <a href="static/images/fulls/07.jpg"><img src="static/images/thumbs/07.jpg" alt=""
                                                   title="This right here is a caption."/></a>
            </div>
        </div>
        <footer>
            <a href="#" class="button big">Se Galleriet</a>
            <a href="#" class="button big button2">Se Priser</a>
        </footer>
    </div>
</section>

{% endblock %}