{% extends 'base.html' %}

{% block content %}
<!-- Header -->
<header id="header">
    <div>Odense<span>FOTOGRAFEN</span></div>
</header>

<!-- Section -->
<section>
    <div class="inner">
        <header>
            <h1>Login</h1>
        </header>
        <div class="login-form">
            <form action="{{ url_for('user_blueprint.login') }}" method="post">
                <div class="field">
                    <label for="username">Username:</label>
                    <input type='text' id="username" name="username">
                </div>

                <div class="field">
                    <label for='password'>Password:</label>
                    <input type='password' id='password' name='password'>
                </div>

                <div class="actions">
                    <input value="Login" class="button" type="submit">
                    <a href="#" class="button register-button">Register</a>
                </div>
            </form>
        </div>
    </div>
</section>


{% endblock %}