{% extends  'base.html' %}

{% block content %}

    <h1>Velkommen til din profil!</h1>

    <div>
        <h4>Aftaler:</h4>
        {% if appointments is undefined %}
        <p>Du har ikke nogle nuværende aftaler med OdenseFotografen</p>
        <a href="#"><button type="button" class="btn btn-success">Book Aftale</button></a>
        {% else %}
        <ul>
            {% for item in appointments %}
                <li>
                    {{ item.as_text() }}
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}